<div class="conversation-entry-citations">
  <h6 class="text-base font-semibold mb-2"><%= t("raif.common.sources") %></h6>
  <% conversation_entry.citations.each do |citation| %>
    <%= link_to citation["url"], target: "_blank", rel: "noopener noreferrer", class: "flex items-center mb-1 text-blue-600 hover:text-blue-800 hover:underline" do %>
      <%= image_tag "https://www.google.com/s2/favicons?sz=16&domain=#{citation["url"]}", class: "mr-1 w-4 h-4" %>
      <%= citation["title"] %>
    <% end %>
  <% end %>
</div>